{% extends "_post.html" %}

{% hyde
    title: Open Source Digital Publishing Tools
    summary: "A suite of tools for the production of ePub digital books."
    categories: 
        - computers
%}

{% block article %}
I've helped develop some [open source tools](http://code.google.com/p/epub-tools/) to help people publish digital books. Some of this stuff is pretty technical, for assisting with file compression and font-subsetting and the like,  but they're important in helping self-publishers get in the door.
{% endblock %}

