{% extends "_post.html" %}

{% hyde
    author:
    title: A Few Faces of Emil Rudolf Weiß
    summary: "A Type Specimen"
    categories: 
        - printing
%}

{% block article %}
<h4>A specimen book</h4>
I published this small specimen book in two editions, German and English. I was moved mostly by the Weiß Lapidar series--the same typeface on the titlepage below--but it includes standards like Weiß Antique as well. 

Weiß's display faces weren't given much of a name in English, _Series I & II initials_, but they're both classic faces that show up in fine book design to this day. 
<div class="gallery">
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/few-faces-1.jpg" />
    <img src="{{ site.url }}/media/images/printing/{{ page.page_name }}/few-faces-2.jpg" />
</div>
{% endblock %}

