{% extends "_post.html" %}

{% hyde
    author:
    title: A Desk That I Made
    summary: "A home-brewed desk for desk-related purposes."
    categories: 
        - building
%}

{% block article %}
One week at summer's end, I decided I needed a new desk. Or actually, any desk at all. No glue. No screws. One piece of 4 &times; 8&#8242; birch-veneered plywood. The whole thing is kept nice and tense, mostly by the tight-angled nothces that keep the boards together--though the cables in the back don't hurt.
{% endblock %}

